h1 {
    font-weight: 100;
    font-size: 2.5em;
}

#content {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px dotted rgb(7, 7, 7);
    text-align: center;
    font-family: 'Helvetica Neue', arial;
    font-weight: 100;
}

div.eight-ball {
    background-color: rgb(35, 100, 185);
    border: 1px solid rgb(37, 18, 126);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

div.answer {
    background-color: #ffa500;
    border: 1px solid rgb(6, 95, 117);
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25% auto;
}

#eight {
    font-size: 5em;
    margin: 20% auto;
    color: white;
}

#answer {
    padding: 23px;
    color: green;
    letter-spacing: 2px;
    font-size: 18px;
}

#question {
    margin: 20px;
    padding: 10px;
    width: 400px;
    font-size: 22px;
}

#info {
    font-size: 22px;
}